.header {
    display: flex;
    justify-content: space-between;
    padding: 0 104px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__logo {
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 26px 0;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.header__logo_dark {
    color: #1A1B22;
}

.header_dark {
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__mobile-menu {
    background: none;
    
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    width: 24px;
    display: none;
}
.header__mobile-menu_white{
    background-image: url(../../images/mobile-menu.svg);
}
.header__mobile-menu_dark{
    background-image: url(../../images/mobile-menu-dark.svg);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .header__logo {
        font-size: 16px;
        margin: 22px 0 20px 0;
    }
    .header {
        padding: 0 40px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__mobile-menu {
        display: block;
    }
    .header {
        padding: 16px;
    }
    .header__logo{
        margin: 0;
    }
    .header__mobile-menu_hidden{
        display: none;
    }
}